---
title: Miscellaneous
layout: default
description: ""
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3>Introduction to the Honors Youth Program @ Xi&#39;an Jiaotong University (XJTU)</h3>

            <p>The Honors Youth Program at XJTU (a.k.a. the Special Class for the Gifted Young) is an undergraduate program launched in 1985. In each year, about 100 talented teenagers under the age of 15 are admitted to this program. Click <a href="/file/HonorsYouthProgram.pdf">Here</a> for more details about this program.</p>

		</div>
	</div>
</div>
